[bumpversion]
current_version = 5.9.1
commit = True
commit_args = --no-verify
tag = True
tag_name = v{new_version}
message = Version bumpup: {current_version} → {new_version}

[bumpversion:file:src/emqx_plugin_helper.app.src]
search = vsn, "{current_version}"
replace = vsn, "{new_version}"

[bumpversion:file (deps link):README.md]
search = tag, "v{current_version}"
replace = tag, "v{new_version}"
